.container {
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto auto 1fr;
    grid-gap: 0px;
}

a  {
    font-family:  'Maven Pro', sans-serif;
   
text-decoration: none;
color: #2A2A2C;
 
transition: all 0.5s;

}

a:hover {
   
   
    text-decoration: none;
    font-size: 1.7rem;
}

.header {
    grid-column: 2 / -1;
    font-size: 1.5rem; 
    font-weight: 900;
    padding-top: 2%;
    font-family: 'Playfair Display', serif;
    color: #031752;
}

.menu {
 grid-column: 3 / 5;
 grid-row: 2 / 3;
font-size: 1.2rem;
 padding-top: 15%;
 padding-left: 15%;
 position: fixed;
}

.avatar{
    grid-column: 5 / 8;
    padding-bottom: 10%;
}
.content-right {
    grid-column: 7 / 10;
    
}

.content-left {
    grid-column: 5 / 9;
    
}

.content {
    grid-column: 5 / 10;
   
  
}

.content-left-tiny {
grid-column: 5 / 7;

}

.content-right-tiny {

    grid-column: 8 / 10;
}

.center {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}




.footer {

grid-column: 8 / 10;
text-align: right;
color: #031752;

}

body {
 
    font-family: 'Maven Pro', sans-serif;
    color: #2A2A2C;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #fff7e0;
}

p {
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3rem;
    color: #031752;
    line-height: 3rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 3rem;
    color: #031752;
    line-height: 3rem;
    text-align: center;
    
}

h3 {

    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 3rem;
    color: #031752;
    line-height: 3rem;

}

h4 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #2A2A2C;
    line-height: 3rem;

}
img {
    max-height: auto;
    max-width: 80%;
}

.food-img {
    max-height: 100%;
    max-width: auto;
}

i {
    color: #031752;
}