.container {

    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto 200px auto auto;
    grid-gap: 20px;
}

.header {
    grid-column: 1 / -1; 
}

.menu {
 grid-column: 2 / 4;
 grid-row: 2 / 4;
 padding-top: 50px;
}

.titleContainer {
    grid-column: 4 / 10;
    grid-row: 2 / 3; 
    padding: 25px;
    align-content: center;
    justify-content: center;
    
}

.content1{
    grid-column: 4 / 7;
    

}
.content2 {
    grid-column: 7 / 11;
   
}
.content-right {
    grid-column: 9 / 11;
    
}

.content-left {
    grid-column: 4 / 9;
    
}

.content {
    grid-column: 4 / 11;
    padding-left: 5%;
    padding-right: 5%;
  
}


.footer {

grid-column: 9 / -1;


}

body {
 
    font-family: 'Poppins';
    color: #000000;
    font-size: 1rem;
    background-color: #f4ede6ff;
}

a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #595959;
    transition: all 0.5s;
}

a:hover {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #595959;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #031752;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #381313;
    font-size: 2rem;

}

h3 {

    font-family: 'Poppins', ;
    font-weight: 100;
    color: #000000;
    font-size: 2rem;
}

img {
    width: 60%;
    height: auto;
    
}