.container {
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 10% 75vh auto;
    grid-gap: 0px;
}

a  {
    font-family: 'Playfair Display', serif;
   
text-decoration: none;
color: #031752;
font-weight: 300; 
transition: all 0.5s;

}

a:hover {
    font-family: 'Playfair Display', serif;
   
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.header {
    grid-column: 2 / -1;
    font-size: 1.7rem; 
    font-weight: 900;
    padding-top: 2%;
    
}

.menu {
 grid-column: 2 / 5;
  font-size: 1.2rem;
 padding-top: 15%;
 padding-left: 5%;
 position: fixed;
}

.avatar{
    grid-column: 5 / 8;
    padding-bottom: 10%;
}
.content-right {
    grid-column: 8 / 12;
    
}

.content-left {
    grid-column: 4 / 8;
    
}

.content {
    grid-column: 4 / 11;
    
  
}

.content-left-tiny {
grid-column: 4 / 7;

}

.content-right-tiny {

    grid-column: 8 / 12;
}

.center {
    text-align: center;
}

.fitPage {
max-height: 100vh;
}
.img-persona {
    float: right;
    max-width: 100px;
    max-height: 100px;
}

.footer {

grid-column: 8 / 10;
text-align: right;


}

body {
 
    font-family: 'Maven Pro', sans-serif;
    color: #2A2A2C;
    font-size: .9rem;
    line-height: 1.5rem;
    background-color: #fff7e0;
}

p {
   padding-top: 10%;
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 0px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3rem;
    color: #031752;
    line-height: 3rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3rem;
    color: #031752;
    line-height: 3rem;
    padding-right: 10%;
    padding-left: 10%;
    
}

h3 {

    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 3rem;
    color: #031752;
    line-height: 3rem;
    margin-bottom: 3%;

}

h4 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: #2A2A2C;
    line-height: 3rem;
    margin: 0px;

}

h5 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    font-size: .7rem;
    color: #2A2A2C;
    line-height: 3rem;
    margin: 0px;
}

h6 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #2A2A2C;
    line-height: 3rem;
    margin: 0px;
}
img {
    max-height: 400px;
    max-width: 400px;
}