.container {

    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 1.5fr auto 1fr;
    grid-gap: 0px;
}
a  {
    
    font-weight: 700;
text-decoration: none;
color: #031752;
 
transition: all 0.5s;

}

a:hover {
   
   
    text-decoration: none;
    font-size: 1.7rem;
}
.header {
    grid-column: 2 / -1;
    font-size: 1.5rem; 
    padding-top: 2%;
    font-family: 'Playfair Display', serif;
    color: #031752;
}


.menu {
 grid-column: 2 / 4;
 grid-row: 2 / 4;
 padding-top: 25%;
 font-size: 1.2rem;
 
 
}

.avatar{
    grid-column: 4 / 6;
}
.content {
    grid-column: 6 / 10;
    
}

.footer {

grid-column: 8 / 11;
text-align: right;


}

body {
 
    font-family: 'Maven Pro', sans-serif;
    color: #000000;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #fff7e0;
}




h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3rem;
    color: #031752;
    line-height: 3rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2rem;
    color: #031752;
    line-height: 3rem;

}

h3 {

    font-family: 'Poppins', ;
    font-weight: 100;
    color: #000000;
    font-size: 2rem;
}
i {
    color: #031752;
}

@media screen and (orientation: portrait) {

    .container {

        display: grid;
        grid-template-columns: repeat(12, 1fr); 
        grid-template-rows: repeat(12, auto);
        grid-gap: 0px;
    }
  
    p {
        font-size: 1.5rem;
        line-height: 3rem;
    
    }

    .avatar{
        grid-column: 2 / 7;
        max-height: 30%;
        max-width: auto;
        
        

    }
    .content {
        grid-column: 2 / 12;
        
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 4.5rem;
        color: #031752;
        line-height: 4.5rem;
    }
    p a {
        font-size: 2.5rem;
        
    }
    i {
        font-size: 5rem;
    }
    .footer {

        grid-column: 6 / 12;
        text-align: right;
        
        
        }
        .header {
            grid-column: 2 / 12;
            font-size: 2rem; 
            padding-top: 2%;
            padding-bottom: 8%;
            font-family: 'Playfair Display', serif;
            color: #031752;
            text-align: right;
            
        }
   
}


