.container {

    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 0px;
}
a  {
    font-family: 'Playfair Display', serif;
   
text-decoration: none;
color: #031752;
font-weight: 700;
transition: all 0.5s;

}

a:hover {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 2rem;
}

.header {
    grid-column: 2 / -1;
    font-size: 1.7rem; 
    font-weight: 900;
    padding-top: 2%;
    
}

.menu {
 grid-column: 2 / 4;
 grid-row: 2 / 4;
 padding-top: 25%;
 font-size: 1.2rem;
 
 
}

.avatar{
    grid-column: 4 / 6;
}
.content {
    grid-column: 6 / 10;
    
}

.footer {

grid-column: 8 / 11;
text-align: right;


}

body {
 
    font-family: 'Maven Pro', sans-serif;
    color: #000000;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: #fff7e0;
}




h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3rem;
    color: #031752;
    line-height: 3rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2rem;
    color: #031752;
    line-height: 3rem;

}

h3 {

    font-family: 'Poppins', ;
    font-weight: 100;
    color: #000000;
    font-size: 2rem;
}