
body {
 
    font-family: 'Poppins';
    color: #000000;
    font-size: 1rem;
    
}
main {
    margin-right: 20%; 
    margin-left: 20%;  
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;}

a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #000000;
}

img {
    padding-bottom: 5%;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #2A2A2C;
  margin: 0%;
   
    
    
}


h2 {
    font-family: 'Poppins', sans-serif;
    color: #381313;
    font-size: 2rem;

}

h3 {

    font-family: 'Poppins', ;
    font-weight: 100;
    color: #000000;
    font-size: 2rem;
}


.welcome {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-content: space-evenly;
   
}
.welcometext {
grid-column-start: 1;
grid-column-end: 2;
    margin-right: 10%;
    margin-top: 10%;
    justify-self: start;
    padding-right: 55%;
    padding-top: 10%;
}

.onebox {
    grid-column: 1/3;
   display: flex;
   flex-direction: column;
   justify-self: center;
   align-content: center;
}

.textbox
{
    
    padding-right: 2rem;
    padding-left: 2rem;
}
.projectgoals {
    font-size: .8rem;
    padding: 5%;
}
.right {
    grid-column: 2/3;
}
.imageAlignment {
justify-self: center;
display: flex;
flex-direction: row;
}

.bird {
    display: flex;
    justify-content: flex-end;
}