@import url("style-new.css");
#headlinelogo {
    max-width: 20%;

}

#headlinelogo,
img {
    float: left;
}

iframe{
    width: 100%;
    height: 900px;
    display: block;
    margin: 0;
    padding: 0;  
}

div {
    background-color: #373737;
    margin: 10%;
    padding: 3%;
}

#aboutuspic {
    grid-column: 1/4;
}

#aboutuspic, img {
    max-width: 100%;
}

#aboutus {
    grid-column: 3/4;
    grid-row: 1/2;

}

#reviews {
    grid-column: 1/2;
}

.row{
    width: cover;
    flex-direction:row;
    justify-content:center;
    text-align:center;
    
}
.img-center {
    display:flex;
    width: 35%;
    flex-direction:row;
    justify-content:center;
    padding: 50px;
}
