@charset "UTF-8";

@font-face {
    font-family: "JMH Laudanum EG";

}

 /*sean */

.row {
  display: flex;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px
}


.column {
  padding: 0px;
}

figure{
    width: 100%;
    text-align: center;
    justify-content: center;
}
.location{
    text-align: center;
}
.location1 {
    text-align: center;
    font-size: 20px;
    text-decoration-line: underline;
    padding: 5px;
}

.map{
    align-content: center;
    padding: 3px;
    width: 120%;
}

/*end sean */

body {
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-overflow: hidden;
    font-size: 3.43 rem;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #340f0f;
    color: white;
    position: fixed;
    top: 0px;
    left: 0PX;
    width: 100%;
    text-align: right;
   
}



a {
    font-family:'Crimson Pro', serif;
    color: #dc9600;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 2%;

}

a:hover {
    color: #ffffff; 
}
    
div {
    
    background-color: #ffffff;
    
}

/* TODO -VANESSA- Don't forget to add CSS for hover
    - Install fontawesome package for social media icons in header

*/

/* TODO -SEAN- Please format the headings; renumber if you need more heading styles plz renumber h4 for captions and subtext as last heading tag */

h1 {}

h2 {
    font-family: 'Crimson Pro', serif;
    color: #8E2906;
    text-align: center; 
}

h3 {}

/* image captions and subtext use h4 */

h4 {
    font-size: .85rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    display: inline-block;

}

/* TODO - VANESSA - Online Order Button: Will link to HTML later; DONT FORGET! */
button {
    background-color: #340f0f;
    color: white;
    border: 0;
    font-size: 20pt;
}


#onlineorder {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50%;
    
}
    
footer {
    background-color: #340f0f;
    color: #ffffff;
    margin-top: 20%; 
    
}

.center {
    justify-content: center;
    align-content: center;
    display: flex;
}

/* Developers: Vanessa Cuevas and Sean Smith
    Contact: 
        Vanessa https://www.linkedin.com/in/vanessancuevas/
        Sean 
    Publish Date: December 2020 */
